/non_vcs
/data/pois-raw
/data/pois

.vscode
!.vscode/settings.json
!.vscode/extensions.json
__pycache__
.pytest_cache
test_output.geojson

# Jetbrains IDE settings
.idea

# Node Modules
node_modules/
