/non_vcs
/data/osm-overpass

.vscode
__pycache__
.pytest_cache
test_output.geojson

# Jetbrains IDE settings
.idea

# Node Modules
node_modules/
# Yarn - not using Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
