body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}
#radlobby-logo {
    position: fixed;
    right: 0px;
    bottom: 10px;
    z-index: 900;
}
#radlobby-logo img {
    padding: 5px;
    width: 150px;
}
@media (max-width: 600px) {
    #radlobby-logo img {
        width: 75px;
    }
}


.leaflet-container {
    background-color: #fff;
}

p, h3, h4, li {
    font-family: Roboto, arial, sans-serif;
    color: #004B67;
}
h1, h2 {
    font-family: 'Museo 500 Regular', sans-serif;
    color: #004B67;
}
h2 {
    font-size: 13pt;
}
emph {
    font-weight: bold;
}

.sidebar-header, .sidebar-tabs > ul > li.active {
    background-color: #B8CC24;
    color: #fff
}
.sidebar-tabs > ul > li.active > a > i {
    color: #fff;
}
a, a:visited, a:active {
    color: #AAB622;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 0.5em;
}

ul.legend-leftified {
    padding-left: 0;
    padding-bottom: 10px;
}
ul.legend li {
    list-style-type: none;
}
div.legend {
    display: inline-block;
    width: 150px;
    height: 10px;
}
div.legend-main {
    background-color: #999;
}
div.legend-regional {
    background-color: #999;
    height: 4px;
}
div.legend-local {
    background-color: #CCC;
    /* opacity: 0.5; */
}
div.legend-calm {
    background-color: #004B67;
}
div.legend-medium {
    background-color: #51A4B6;
}
div.legend-stressful {
    background-color: #FF6600;
/*    background: repeating-linear-gradient(
        90deg,
        #004B67,
        #004B67 10px,
        #fff 10px,
        #fff 20px
    );
    height: 4px;*/
}
/*
- #AAB622 Grün für Schrift

- #F0F4D9 Grün für Flächen (sehr hell)
- #B8CC24 Grün für Logo, Flächen & andere Stilelemente (satt)
- #004B67 Blau für Text & andere Stilelemente (satt, dunkel)

- #51A4B6 Sekundärfarbe (Türkis)
- #A2C8D3 Sekundärfarbe (Hellblau)
- #FF6600 Sekundärfarbe (Orange)
*/
