body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
	width: 100%;
}
#radlobby-logo {
	position: fixed;
	right: 0px;
	bottom: 10px;
	z-index: 900;
}
#radlobby-logo img {
	padding: 5px;
	width: 150px;
}
@media (max-width: 600px) {
	#radlobby-logo img {
		width: 75px;
	}
}


.leaflet-container {
	background-color: #fff;
}

p, h4, li {
	font-family: Roboto, arial, sans-serif;
	color: #004B67;
}
h1, h2, h3 {
	font-family: 'Museo 500 Regular', sans-serif;
	color: #004B67;
}
h2 {
	font-size: 115%;
}
h3 {
	font-size: 110%;
}
strong {
	font-weight: bold;
}

.leaflet-sidebar {
	font-size: medium;
}
.leaflet-sidebar-header, .leaflet-sidebar-tabs > ul > li.active {
	background-color: #B8CC24;
	color: #fff
}
.leaflet-sidebar-tabs > ul > li.active > a > i {
	color: #fff;
}
.leaflet-sidebar-pane a, .leaflet-sidebar-pane a:visited, .leaflet-sidebar-pane a:active, .leaflet-control-attribution a {
	color: #AAB622;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul.legend-leftified {
	padding-left: 0;
}
ul.legend li {
	list-style-type: none;
	margin-bottom: 0.5em;
}

div.legend {
	width: 230px;
	height: 10px;
	border-radius: 5px;
}
div.legend-main {
	vertical-align: middle;
	background-color: #999;
}
div.legend-regional {
	background-color: #999;
	height: 4px;
}
div.legend-calm {
	background-color: #004B67;
}
div.legend-medium {
	background-color: #51A4B6;
}
div.legend-stressful {
	background-color: #FF6600;
}
div.legend-oneway {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent #999;
	margin-left: 10px;
	margin-right: 35px;
	border-radius: 0;
}
div.legend-unpaved {
	background: repeating-linear-gradient(
		90deg,
		#999 0,
		#999 20px,
		#fff 20px,
		#fff 30px
	);
}
div.legend-steep {
	height: 25px;
	background: repeating-linear-gradient(
		90deg,
		transparent 0,
		transparent 9px,
		#999 9px,
		#999 11px,
		transparent 11px,
		transparent 30px
	);
}
div.legend-container {
    display: grid;
    align-items: center;
}
div.legend-container div {
    grid-column: 1;
    grid-row: 1;
    display: flex;
}

ul.legend li img {
	float: right;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}


/*
- #AAB622 Grün für Schrift

- #F0F4D9 Grün für Flächen (sehr hell)
- #B8CC24 Grün für Logo, Flächen & andere Stilelemente (satt)
- #004B67 Blau für Text & andere Stilelemente (satt, dunkel)

- #51A4B6 Sekundärfarbe (Türkis)
- #A2C8D3 Sekundärfarbe (Hellblau)
- #FF6600 Sekundärfarbe (Orange)
*/
