


<IfModule mod_headers.c>

    <FilesMatch "\.(jpg|jpeg|png|svg|geojson|css|js|woff|woff2)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    <FilesMatch "\.(html)$">
        Header set Cache-Control "max-age=0, public"
    </FilesMatch>

    <Directory "/data/osm-overpass">
        <FilesMatch "\.(json)$">
            Header set Cache-Control "max-age=4000, public"
        </FilesMatch>
    </Directory>

</IfModule>
